h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #666; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }
.parent {padding: 10px; margin:20px 8px; max-width: 40em;}
